./backend/node_modules/
.env
.DS_Store
.env.production
./backend/npm-debug.log
./backend/dist/
backend/.env.local
./backend/*.log
.env.test
./backend/.env
./backend/.env.production
k8s-configuration/secrete.yaml