/* semantic color variables for this project */

:root {
  --primary-color: #094446;
  --primary-variant: #7aacc5;
  --secondary-color: #34dc3b;

  --on-primary: #000;
  --color-text: #000;
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);

  --on-background: #d9d9d9;
  --on-background-alt: rgba(237, 234, 224, 0.7);
  --background: #edeae0;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #094446;
    --primary-variant: #7aacc5;
    --secondary-color: #34dc3b;

    --on-primary: #000;
    --color-text: #000;
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);

    --on-background: #3344a2;
    --on-background-alt: rgba(237, 234, 224, 0.7);
    --background: #1607f4;
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--primary-color);
  background-color: var(--background); /* <- site-wide background */
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
