# Update ArgoCD server to work under /argocd path
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  namespace: argocd
data:
  # Set base URL for ArgoCD
  server.basehref: /argocd
  server.rootpath: /argocd
  # Disable TLS since we're behind Ingress
  server.insecure: "true"
---
# Patch the ArgoCD server service to use HTTP instead of HTTPS
apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
    - name: https
      port: 443
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: argocd-server
  type: ClusterIP
