{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "studysync.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "studysync.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: {{ include "studysync.fullname" . }}-backend
            port:
              number: {{ .Values.backend.service.port }}
      - path: /socket.io
        pathType: Prefix
        backend:
          service:
            name: {{ include "studysync.fullname" . }}-backend
            port:
              number: {{ .Values.backend.service.port }}
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "studysync.fullname" . }}-frontend
            port:
              number: {{ .Values.frontend.service.port }}
{{- end }}